//
   Created with JetBrains WebStorm.
   User: toulon
   Date: 7/6/13
   Time: 9:05 PM
   To change this template use File | Settings | File Templates.

extends layout
       h1 table
block content
    div.container
        div.content
            table.table.table-striped
                thead
                    tr
                        th Table
                        th Heading
                tbody
                    tr
                        td Blah
                        td Test
                    tr
                        td Hello
                        td World

    div.footer